<h1 class="title"> Add Musicas </h1>
<span class="title-message"> Adicione aqui suas musicas preferidas </span>

<form #form="ngForm">

  <div class="flex mt-3">
    <div class="input"
      [class.error]="nome.control.touched && nome.control.invalid">
      <span>Nome</span>
      <input 
        type="text" placeholder="Mulher de Fases" 
        ngModel #nome="ngModel" name="nome" required>
      <p *ngIf="nome.control.touched && nome.control.invalid"> 
        Campo Invalido 
      </p>
    </div>
  
    <div class="input"
      [class.error]="artista.control.touched && artista.control.invalid">
      <span>Artista</span>
      <input 
        type="text" placeholder="Raimundos"
        ngModel #artista="ngModel" name="artista" required>
      <p *ngIf="artista.control.touched && artista.control.invalid"> 
        Campo Invalido 
      </p>
    </div>
  </div>
  
  <div class="flex mt-2">
    <div class="input"
      [class.error]="duracao.control.touched && duracao.control.invalid">
      <span>Duração</span>
      <input 
        type="text" placeholder="5:42" 
        ngModel #duracao="ngModel" name="duracao" required>
      <p *ngIf="duracao.control.touched && duracao.control.invalid"> 
        Campo Invalido 
      </p>
    </div>
  
    <div class="input">
      <span>Album</span>
      <input 
        type="text" placeholder="Raimundos"
        ngModel #album="ngModel" name="album">
    </div>
  </div>

  <button class="mt-4" (click)="submit()">
    Adicionar
  </button>

</form>
