<h1 class="title"> Add Musicas </h1>
<span class="title-message"> Adicione aqui suas musicas preferidas </span>

<form #form="ngForm">
  <div class="row mt-3">
    <div class="input error">
      <span>Nome</span>
      <input 
        type="text" placeholder="Mulher de Fases" 
        ngModel #nome="ngModel" name="nome" required>
      <p> 
        Campo Invalido 
      </p>
    </div>
  
    <div class="input error">
      <span>Artista</span>
      <select ngModel #artista="ngModel" name="artista" required>
        <option *ngFor="let artist of artists" [value]="artist.id">
          {{ artist.name }}
        </option>
      </select>
      <p> 
        Campo Invalido 
      </p>
    </div>
  </div>
  
  <div class="row mt-2">
    <div class="input error">
      <span>Duração</span>
      <input 
        type="text" placeholder="5:42" 
        ngModel #duracao="ngModel" name="duracao" required>
      <p> 
        Campo Invalido 
      </p>
    </div>
  
    <div class="input error">
      <span>Album</span>
      <input 
        type="text" placeholder="Raimundos"
        ngModel #album="ngModel" name="album">
    </div>
  </div>

  <button class="button mt-4" (click)="submit()">
    Adicionar
  </button>

</form>
