<h1 class="title"> Add Musicas </h1>
<span class="title-message"> Adicione aqui suas musicas preferidas </span>

<form #form="ngForm">

  <div class="flex mt-3">
    <div class="input"
      [class.error]="isControlInvalid(nome)">
      <span>Nome</span>
      <input 
        type="text" placeholder="Mulher de Fases" 
        ngModel #nome="ngModel" name="nome" required>
      <p *ngIf="isControlInvalid(nome)"> 
        Campo Invalido 
      </p>
    </div>
  
    <div class="input"
      [class.error]="isControlInvalid(artista)">
      <span>Artista</span>
      <select ngModel #artista="ngModel" name="artista" required>
        <option *ngFor="let artist of (artists$ | async)" [value]="artist.id">
          {{ artist.name }}
        </option>
      </select>
      <p *ngIf="isControlInvalid(artista)"> 
        Campo Invalido 
      </p>
    </div>
  </div>
  
  <div class="flex mt-2">
    <div class="input"
      [class.error]="isControlInvalid(duracao)">
      <span>Duração</span>
      <input 
        type="text" placeholder="5:42" 
        ngModel #duracao="ngModel" name="duracao" required>
      <p *ngIf="isControlInvalid(duracao)"> 
        Campo Invalido 
      </p>
    </div>
  
    <div class="input">
      <span>Album</span>
      <input 
        type="text" placeholder="Raimundos"
        ngModel #album="ngModel" name="album">
    </div>
  </div>

  <button class="mt-4" (click)="submit()">
    Adicionar
  </button>

</form>
