$primary-bg: #1D2531;
$secondary-bg: #2D3541;

$primary-text: #F4F6FE;
$secondary-text: #9e9e9eb8;

$highlight: #f9d373;
$error: #ff4343;

$shadow: #0000001e;








// $primary-bg: #F4F6FE;
// $secondary-bg: #fff;

// $primary-text: #28272A;
// $secondary-text: #9e9e9eb8;

// $highlight: #4C6EF5;

// $shadow: #0000001e
